    <header class="flex justify-between shadow-lg p-4 capitalize md:p-8 text-white sticky top-0 bg-[#530853] z-30" >
        <div class="logo"> <a href="/">  iredox10</a></div>
        <nav>
            <ul class="flex gap-2">
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/admin">admin</a></li>
            </ul>
        </nav>
    </header>