<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
</head>
<body>
    <%- include('./partials/header.ejs')  %> 
    <div class="container text-white mt-4">
        <h1 class="uppercase text-center">game da ni </h1>
        <div class="md:flex">
        <img src="" alt="">
            <div class="about-me capitalize">
                <p>sunana idris adam idris, dalibin HND a (Kano State Polytechnic) computer science department</p>
                <p>kuma ni mazaunin kano State juha a arewacin Nigeria</p>
                <p>wannan shafin zai baka bayanan ilmin programming wanda suka hada da JAVASCRIPT, PYTHON da kuma HTML DA CSS</p>
                <p>sannan zai baka bayanai akan ilimin computer tar kan ta hanyar </p>
            </div>
        </div>
    </div>
</body>
</html>