<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

    <body class="bg-[#530853]">
        <%- include('./partials/header.ejs') %>
        <div class="container">
            
                <form action="/add-blog" method="POST" class="p-4">
                    <h1>add new blog</h1>
                    <div class="mb-3">
                        <label for="title">blog-title</label>
                        <input type="text" name="title" id="title">
                    </div>
                    <div class="mb-3">
                        <label for="doc">blog-doc</label>
                        <textarea name="doc" id="doc"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="tag">select tag</label>
                        <select name="tag" id="tag">
                            <option value="HTML">HTML</option>
                            <option value="CSS">CSS</option>
                            <option value="JAVASCRIPT">JAVASCRIPT</option>
                        </select>
                        <button class="btn">add blog</button>
                </form>
        </div>
    </body>
</html>