<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
        <h1>sign in</h1>
        <form action="/sign-in"></form>
    </div>
</body>
</html>